@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

@theme{
  --color-primary: #2563EB;
  --color-secondary: #1F2937;
  --color-description: #4B5563;
  --color-aboutme: #EFF6FF;
  --color-textgray: #374151;
  --color-copyright: #9CA3AF;
  --color-textfooter: #D1D5DB;
}